/* /////////////////////////////// */
/* Pantone 2767C NAVY{
  RGB: 19 41 75;
  HEX: 13294B;
  CMYK: 100 71 0 66;
} */

/* Pantone 324C TEAL{
  RGB: 156 219 217;
  HEX: 9CDBD9;
  CMYK: 34 0 10 0;
} */

/* /////////////////////////////// */

.header-logo {
  width: 200px;
  height: auto;
}

.header-block {
  background: rgb(245, 250, 250);
  height: 150px;
  border-bottom: 8px solid #9cdbd9;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 100px; */
}

body {
  background-image: url("./pages/Home/Images/dgc-pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.stats {
  display: block;
}

.main {
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
  /* border-radius: 20px; */
  border: 20px solid #13294b;
  min-height: 2000px;
}

.profile {
  display: flex;
  border: 5px solid #9cdbd9;
  object-fit: cover;
  object-position: center;
  width: 200px !important;
  height: 200px !important;
}

.title {
  font-weight: 900;
  font-size: 40px;
  line-height: 40px;
  color: #13294b;
}

.caption {
  text-align: center;
  color: #9cdbd923;
  margin-top: 20px;
}

hr.rounded {
  border-top: 3px solid #9cdbd9;
  border-radius: 5px;
  margin-top: 40px;
}

.footer {
  position: sticky;
  background: #13294b;
  height: 150px;
  border-top: 8px solid #9cdbd9;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
}

.grimaldoMedia {
  text-align: left;
  padding-left: 2px;
  color: #fff;
  font-size: 12px;
}

.socialMedia {
  text-align: right;
  color: #334049;
}

.pdf {
  max-width: 100%;
}
