/* /////////////////////////////// */
/* Pantone 2767C NAVY{
  RGB: 19 41 75;
  HEX: 13294B;
  CMYK: 100 71 0 66;
} */

/* Pantone 324C TEAL{
  RGB: 156 219 217;
  HEX: 9CDBD9;
  CMYK: 34 0 10 0;
} */

/* /////////////////////////////// */

.nav-logo {
  width: 200px;
  height: auto;
  display: flex;
}

.nav-block {
  background: #9cdbd923;
  /* background: linear-gradient(-180deg, #13294b 0px, #9cdbd9 100%); */
  height: 300px;
  display: block;
  /* position: absolute; */
}

.stats {
  display: block;
  text-align: center;
}

.main {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-top: -150px;
  padding-top: 30px;
}

.profile {
  display: flex;
  object-fit: cover;
  object-position: center;
  width: 200px;
  height: 200px;
}

.title {
  font-weight: 900;
  font-size: 80px;
  color: #13294b;
}

.caption {
  text-align: center;
  color: #9cdbd923;
  margin-top: 20px;
}
